.cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    border: 1px solid gray;
}

.cart-items p {
    margin: 10px;
    font-size: 1.5rem;
}

.minus {
    background-color: brown;
    padding: 10px 15px;
    color: white;
}

.plus {
    background-color: blue;
    padding: 10px 15px;
    color: white;
}

.same-btn:hover {
    cursor: pointer;
}

.delete {
    text-decoration: underline;
    color: blue;
}

.delete:hover {
    cursor: pointer;
}