.product img {
    width: 450px;
    border: 1px solid rgb(207, 199, 199);
    margin: 1rem;
}

.prod-item {
    position: relative;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    left: 17px;
    right: 17px;
    padding: 1rem;
    background-color: blue;
    border: none;
    color: white;
}

.cart-btn:hover {
    background-color: rgb(32, 32, 203);
    cursor: pointer;
}

.cart-btn:active {
    background-color: blue;
}