.products {
    display: flex;
    /* width: 20rem; */
    justify-content: center;
    /* flex-wrap: wrap; */
    /* margin: 2rem; */
    /* border: 1px solid rgb(207, 199, 199); */
}

.prod-container {
    /* display: flex; */
    /* margin: 1.4rem; */
    /* margin-left: 4rem; */
    overflow: hidden;
}

.prod-container h1 {
    margin-left: 2rem;
    margin-top: 1rem;
}